#mobProjectsWithoutInterface {
  background-image: url('../../../images/code-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 2%;
}

#mobProjectsWithoutInterface h2 {
  background-color: rgba(248, 248, 255, 0.822);
  border-radius: 7px;
  color: #ec6948;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  width: fit-content;
  margin: 5% 0;
  padding: 1% 2%;
}

#mobProjectsWithoutIntContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.eachMobProjectWithoutIntCard {
  background-color: rgba(248, 248, 255, 0.871);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: fit-content;
  margin: 2%;
  padding: 0.5%;

  transition: 0.45s cubic-bezier(.775, .07, .575, .995);
  transform-style: preserve-3d;
}

.eachMobProjectWithoutIntCardFront {
  background-color: #2F86A6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99.5%;
  padding: 4% 0;

  backface-visibility: hidden;
  z-index: 2;
  transform: rotateX(0deg);
  position: absolute;
}

.eachMobProjectWithoutIntCardFront h3 {
  color: wheat;
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
  width: fit-content;
  margin: 0;
}

.eachMobProjectWithoutIntCardFront h4 {
  color: #282A36;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  width: fit-content;
  margin-top: 2%;
  margin-bottom: 0;
}

#eachMobProjectWithoutIntCardBack {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  backface-visibility: hidden;
  transform: rotateY(-180deg);
  position: relative;
}

#mobNoInterfaceProjectDescription {
  background-color: #e17b62;
  color: white;
  border-radius: 9px;
  font-size: 1.15em;
  font-weight: 500;
  width: 98%;
  text-align: center;
  margin-top: 1.5%;
  margin-bottom: 0;
  padding: 2.5%;
}

#mobNoInterfaceTimeInProg {
  color: #282A36;
  font-size: 1.05em;
  font-weight: 600;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 0;
}

.eachMobProjectWithoutIntCard a {
  color: #2F86A6;
  text-decoration: overline;
  font-size: 1em;
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 2%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
