#portPageMobileHeader {
  background-color: var(--axolotl);
  box-shadow: 0 10px 16px -4px black;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2% 0;
  z-index: 1;
}

#portPageMobHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2% 0;
}

#portPageMobHeaderHamburgerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}

#portPageMobHeaderButtonFlipper {
  margin-left: 4%;

  transition: .3s cubic-bezier(.775, .07, .575, .995);
  transform-style: preserve-3d;
  position: absolute;
}

.menu.active {
  transform: rotateX(180deg);
}

#portPageMobHeaderHamburgerBtn {
  background-color: var(--axolotl);
  color: var(--eggShell);
  border: none;
  display: flex;
  align-items: center;
  font-size: 1.2em;

  backface-visibility: hidden;
  z-index: 2;
  transform: rotateX(0deg);
  position: absolute;
}

#portPageMobHeaderCloseBtn {
  background-color: var(--axolotl);
  color: var(--salmonPink);
  border: none;
  display: flex;
  align-items: center;
  font-size: 1.2em;

  backface-visibility: hidden;
  transform: rotateX(-180deg);
  position: relative;
}

#portPageMobHeaderContainer a {
  color: var(--eggShell);
  font-size: 1.05em;
  margin-right: 5%;
}

#mobHeaderPortHambContentContainer {
  background-color: var(--axolotl);
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 3% 0 0 0;

  animation-duration: 1s; /* the duration of the animation */
  animation-timing-function: ease-out; /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: slideInFromLeft; /* the name of the animation we defined above */
}

#mobCvLink {
  color: var(--crayola);
  font-size: 1.1em;
  text-decoration: none;
}

.headerPortHambInternalLinks {
  border-bottom: solid 1px var(--eggShell);
  color: var(--platinum);
  font-size: 0.95em;
  text-decoration: none;
  text-align: center;
  width: fit-content;
  margin-bottom: 4%;
}

#headerPortHambExternalLinksCont {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  margin-top: 5%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}