#academicBackground {
  background-image: linear-gradient(rgb(54, 56, 70), rgb(71, 50, 71));
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1% 0;
}

#academicBackground h2 {
  color: #ec6948;
  width: fit-content;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  margin-top: 1%;
  margin-bottom: 3%;
}

#aBContainer1 {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  margin-bottom: 4%;
}

#admPuc {
  border: solid 3px #50fa7b;
  border-radius: 25px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  width: 40%;
  text-align: center;
  padding: 0 1% 1.5% 1%;
}

#trybe {
  border: solid 3px #50fa7b;
  border-radius: 25px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  align-self: center;
  width: 35%;
  text-align: center;
  padding: 0 1% 1.5% 1%;
}

#aBContainer2 {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  margin-bottom: 4%;
}

#hertsExchange {
  border: solid 3px #50fa7b;
  border-radius: 25px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  width: 40%;
  text-align: center;
  padding: 0 1% 1.5% 1%;
}

#teresiano {
  border: solid 3px #50fa7b;
  border-radius: 25px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  width: 35%;
  text-align: center;
  align-self: center;
  padding: 0 1% 1.5% 1%;
}

/* Classes compartilhadas pelos elementos da seção. */
.aBEachTitle {
  color: ghostwhite;
  font-size: 1.3em;
  margin-bottom: 2%;
}

.aBPipe {
  color: rgb(255, 85, 85);
}

.aBInstitution {
  color: #50fa7b;
}

.aBContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aBContent span {
  color: wheat;
  font-size: 1.3em;
  margin-bottom: 4px;
}

.aBContentLinks {
  color: #50fa7b;
  font-size: 1.2em;
  text-decoration: overline;
  transition-duration: 0.3s;
  margin-top: 20px;
}

.aBContentLinks:hover {
  color: #ec6948;
  text-decoration: underline;
}
