#extraCvActivities {
  background-image: url('../../../images/hackathon.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0 5%;
}

#extraCvActivities h2 {
  background-color: rgba(71, 50, 71, 0.796);
  border: ghostwhite 2px solid;
  border-radius: 12px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5), 0 17px 50px 0 rgba(0, 0, 0, 0.5);
  color: #ec6948;
  width: fit-content;
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 5%;
  padding: 0 1%;
}

#extraCvAContainer {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

#monitoriasContainer {
  background-color: rgba(71, 50, 71, 0.796);
  border: ghostwhite 2px solid;
  border-radius: 70px 25px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5), 0 17px 50px 0 rgba(0, 0, 0, 0.5);
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 2% 1% 2%;
}

#monitoriasContainer h3 {
  color: #ec6948;
  font-size: 1.5em;
  width: fit-content;
  text-align: center;
  margin: -1% 0 2% 0;
}

#iagTitle {
  color: #50fa7b;
  font-size: 0.9em;
}

.monitorias {
  color: wheat;
  text-align: center;
  font-size: 1.4em;
  width: 95%;
  margin: 2% 2.5%
}

.monitorias nav {
  margin-top: 4%;
}

.monitoriaCertificates {
  color: #50fa7b;
  font-size: 0.9em;
  text-decoration: overline;
  transition-duration: 0.4s;
}

.monitoriaCertificates:hover {
  color: #ec6948;
  text-decoration: underline;
}

#additionalInfoContainer {
  background-color: rgba(71, 50, 71, 0.796);
  border: ghostwhite 2px solid;
  border-radius: 25px 70px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5), 0 17px 50px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  padding: 1%;
}

#additionalInfoContainer h3 {
  border-radius: 12px;
  color: #ec6948;
  width: fit-content;
  text-align: center;
  font-size: 1.5em;
  margin-top: 1%;
  margin-bottom: 1%;
}

#hackathon {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  padding-bottom: 1%;
}

#scholarship {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  padding-bottom: 1%;
}

.additionalInfoCertificates {
  margin-top: 2%;
  margin-bottom: 0;
}

.additionalInfoCertificates a {
  color: #50fa7b;
  font-size: 1.25em;
  font-weight: 500;
  text-decoration: overline;
  transition-duration: 0.4s;
}

.additionalInfoCertificates a:hover {
  color: #ec6948;
  text-decoration: underline;
}

.additionalInfoSubtitle {
  color: ghostwhite;
  text-align: center;
  font-size: 1.3em;
  margin-top: 2%;
  margin-bottom: 1.5%;
}

.additionalInfoPipe {
  color: rgb(255, 85, 85);
}

.additionalInfoInstitution {
  color: #50fa7b;
}
