#mobAcademicBackground {
  background-image: linear-gradient(var(--grayAsparagus), var(--axolotl2));
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1% 0;
}

#mobAcademicBackground h2 {
  color: var(--eggShell);
  width: fit-content;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  margin: 3% 0;
}

#mobAbContainer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 0;

  animation-duration: 1s; /* the duration of the animation */
  animation-timing-function: ease-out; /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: slideInFromLeft; /* the name of the animation we defined above */
}

#mobAdmPuc {
  border: solid 2px var(--pastelGrey);
  border-radius: 18px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  width: 85%;
  text-align: center;
  padding: 0 2% 2.5% 2%;
  margin-bottom: 5%;
}

#mobTrybe {
  border: solid 2px var(--pastelGrey);
  border-radius: 18px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  width: 85%;
  text-align: center;
  padding: 0 2% 2.5% 2%;
  margin-bottom: 2.5%;
}

#mobAbContainer2 {
  /* border: solid 2px yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 3%;

  animation-duration: 1s; /* the duration of the animation */
  animation-timing-function: ease-out; /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: slideInFromRight; /* the name of the animation we defined above */
}

#mobHertsExchange {
  border: solid 2px var(--pastelGrey);
  border-radius: 18px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  width: 85%;
  text-align: center;
  padding: 0 2% 2.5% 2%;
  margin-top: 2.5%;
  margin-bottom: 5%;
}

#mobTeresiano {
  border: solid 2px var(--pastelGrey);
  border-radius: 18px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  width: 85%;
  text-align: center;
  padding: 0 2% 2.5% 2%;
  margin-bottom: 0;
}

/* Classes compartilhadas pelos elementos da seção. */
.mobAbEachTitle {
  color: ghostwhite;
  font-size: 0.85em;
  margin-bottom: 5%;
}

.mobAbPipe {
  color: var(--platinum);
}

.mobAbInstitution {
  color: rgb(250, 208, 129);
}

.mobAbContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobAbContent span {
  color: var(--crayola);
  font-size: 0.8em;
  margin-bottom: 4px;
}

.mobAbContentLinks {
  color: var(--platinum);
  font-size: 0.8em;
  text-decoration: overline;
  margin-top: 15px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
